.firstclass{
		background-color:powderblue;
		height: 40%;
		width: 300px;
		overflow:hidden;
		}

/*.secondclass{
		background-color:aqua;
		font-size:1 rem;
		height:250px;
		width:300px;
		overflow-y:scroll;
		overflow-x:hidden;
		} */
		
div.secondclass{
		background-color:yellow;
		font-size:1 rem;
		height:250px;
		width:300px;
		text-align:right;
		overflow-y:scroll;
		overflow-x:hidden;
		}
		
p.secondclass{
		/*text-align:justify;*/
		/*text-align:center;*/
		text-align:inherit;
		font-size:1 rem;
		color:red;
}
.thirdclass{
		background-color:#CA3DE6;
}
	